name: Pull Request Preview to Cloudflare

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  deploy-preview:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node & PNPM
        uses: pnpm/action-setup@v3
        with:
          version: 10.19.0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          cache-dependency-path: docs/pnpm-lock.yaml

      - name: Install Dependencies
        run: |
          cd docs
          pnpm install
          pnpm exec playwright install --with-deps

      - name: Build Site
        run: |
          cd docs
          pnpm run build
                    
        # Uncomment the following lines to enable deployment to Cloudflare Pages In the Future (Because I am using free version, I will not enable this for now)

    #   - name: Deploy to Cloudflare Pages
    #     uses: cloudflare/pages-action@v1
    #     with:
    #       apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
    #       accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
    #       projectName: supakone-me
    #       directory: docs/dist
    #       gitHubToken: ${{ secrets.GITHUB_TOKEN }}